/* reset css  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* tilte   */
.heading h6 {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 1px;
  color: red;
}
.heading h3 {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
  font-family: 'Jost', sans-serif;
}
/* start header  */

/*-- //dark and light mode styling --*/
button.navbar-toggler .icon-close {
  display: block;
}

button.navbar-toggler .icon-expand {
  display: none;
}

button.navbar-toggler.collapsed .icon-close {
  display: none;
}

button.navbar-toggler.collapsed .icon-expand {
  display: block;
}

.phone a {
  font-size: 18px;
  color: var(--text-color);
  font-weight: 500;
}

header {
  background-color: var(--bg-color);
  padding: 0px;
  transition: all 0.4s ease 0s;
  height: 90px;
  display: grid;
  align-items: center;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
}

.navbar {
  padding: 0;
}

.navbar .navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 34px;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--primary-color);
}

.navbar .navbar-brand span.fa {
  display: inline-block;
  color: var(--primary-color);
}

.navbar .navbar-brand:hover {
  opacity: 0.95;
}

.navbar .navbar-brand img {
  max-width: 140px;
  transition: all 0.5s ease;
}

.navbar-expand-lg .navbar-nav .nav-link span.fa {
  font-size: 14px;
  padding-left: 2px;
  font-weight: 600;
}

a.nav-link:before,
a.dropdown-item:before {
  position: absolute;
  content: '';
  background: var(--primary-color);
  width: 0px;
  height: 1px;
  bottom: 13px;
}

.navbar-expand-lg .navbar-nav .nav-link:hover:before,
a.dropdown-item:hover:before {
  width: 100%;
}

.navbar-expand-lg .navbar-nav .nav-item {
  padding: 0 12px;
  transition: all 0.5s ease;
  position: relative;
}

.navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
  color: var(--primary-color);
}

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
  color: var(--primary-color);
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: var(--primary-color);
}

.navbar-expand-lg .navbar-nav .nav-link {
  text-transform: capitalize;
  transition: all 0.5s ease;
  padding: 14px 0;
  font-size: 1.2em;
  font-weight: 400;
  position: relative;
  color: var(--heading-color);
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: var(--primary-color);
}

a.dropdown-item {
  font-weight: 400;
  font-size: 1.2em;
  position: relative;
  color: var(--heading-color);
  padding-top: 0;
  display: block;
  width: 100px;
  padding-bottom: 14px;
}

a.dropdown-item:hover {
  color: var(--primary-color);
}

a.dropdown-item.active {
  background-color: transparent;
  color: var(--primary-color);
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  transform: translateX(-50px);
}

.navbar-expand-lg .navbar-nav .dropdown-menu:before {
  content: '';
  width: 14px;
  height: 14px;
  background: var(--dropdown-color);
  border: 1px solid var(--border-color);
  display: block;
  border-right: none;
  border-bottom: none;
  transform: translateX(-50%) rotateZ(45deg);
  position: absolute;
  top: -7px;
  left: 49%;
  z-index: 1001;
}

header.nav-fixed {
  padding: 0px;
  background-color: var(--bg-color);
  height: 80px;
  border-bottom: none;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
}

.navbar-dark .navbar-nav .show >,
.navbar-dark .navbar-nav .nav-link.show {
  color: var(--para-color);
}

nav ul li {
  display: inline-block;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}

nav ul li a:hover {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link:focus {
  color: #eee;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  border-radius: var(--border-radius);
  background: var(--dropdown-color);
  border: 1px solid var(--border-color);
  min-width: 13rem;
  padding: 1rem 0 0.3rem;
}

.nav-fixed .phone a span {
  opacity: 1;
  color: var(--primary-color);
}

.nav-fixed .navbar-expand-lg .navbar-nav li.nav-item.active .nav-link {
  color: var(--primary-color);
}

.nav-fixed .navbar-expand-lg .navbar-brand {
  color: var(--primary-color);
}

.nav-fixed .navbar-expand-lg .navbar-brand span {
  color: var(--primary-color);
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: var(--text-color);
  text-decoration: none;
  background-color: transparent;
}

@media only screen and (max-width: 1440px) {
  .navbar-expand-lg .navbar-nav .nav-item {
    padding: 0 10px;
  }

  .navbar-expand-lg .nav_btn > li {
    padding: 0;
  }
}

@media only screen and (max-width: 1199px) {
  .navbar .navbar-brand img {
    max-width: 109px;
  }

  .navbar-expand-lg .btn-gradient {
    padding: 10px 20px;
    font-size: 14px;
  }

  .navbar-expand-lg .navbar-nav.nav_btn > li {
    margin-left: 0px;
  }

  .navbar-expand-lg .navbar-nav.nav_btn a.btn {
    padding: 10px 20px;
  }

  .navbar-expand-lg .navbar-nav.nav_btn a {
    font-size: 14px;
    padding: 0px;
  }
}

@media only screen and (max-width: 991px) {
  .popup {
    display: none;
  }

  a.nav-link:before,
  a.dropdown-item:before {
    display: none;
  }

  a.dropdown-item {
    width: auto;
  }

  .mobile-position {
    position: absolute;
    right: 40px;
    top: 13px;
  }

  .navbar .navbar-brand img {
    max-width: 140px;
  }

  .navbar-toggler {
    border: 0 none;
    font-size: 22px !important;
  }

  .navbar-nav {
    -webkit-animation-name: none;
    animation-name: none;
    float: left;
    text-align: center;
    width: 100%;
    padding: 20px 0;
  }

  .navbar-nav:last-child {
    border: 0;
  }

  .navbar-expand-lg .navbar-nav .nav-item {
    -webkit-animation-name: none;
    animation-name: none;
    padding: 0;
  }

  .navbar-expand-lg .navbar-nav.nav_btn > li {
    padding-bottom: 10px;
  }

  .navbar-nav .dropdown-menu {
    text-align: center;
  }

  .navbar-nav .dropdown-menu .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .navbar-expand-lg .navbar-nav .nav-item .nav-link.active::before {
    bottom: 0;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    display: inline-block;
    padding: 6px 0;
    text-align: center;
  }

  header {
    height: auto;
    padding: 15px 0;
  }

  .navbar-expand-lg .navbar-nav .dropdown-menu {
    transform: translateX(0px);
    border: 1px solid var(--border-color);
  }

  header.nav-fixed {
    height: auto;
    padding: 10px 0;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    display: block;
  }

  .navbar-dark .navbar-toggler-icon {
    background-image: none;
    padding: 0;
    width: 34px;
    height: 34px;
    display: inline-block;
    background: var(--primary-color);
    border-radius: 4px;
    text-align: center;
  }

  .navbar-toggler-icon.fa {
    line-height: 1.2em;
    color: #fff;
    line-height: 34px;
    background-color: var(--primary-color);
    border-radius: 5px;
  }

  .navbar-toggler {
    padding: 0rem 0rem !important;
  }
}

@media only screen and (max-width: 800px) {
  #site-footer .copyright,
  #site-footer ul.footer-menu {
    text-align: center;
  }
  .mobile-position {
    position: absolute;
    right: 40px;
    top: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .navbar-brand img {
    max-width: 200px;
  }

  .navbar .navbar-brand {
    font-size: 30px !important;
  }

  .mobile-position {
    top: 10px;
  }
}
@media only screen and (max-width: 384px) {
  .mobile-position {
    top: 6px;
  }
}

/* end header  */
/* start carousel */
.carousel li {
  list-style-type: none;
}

.carousel .banner__info__bg ul li {
  display: inline-block;
  margin-right: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: var(--para-color);
}

.carousel .banner__info__bg h6 {
  font-size: 36px;
  margin-bottom: 14px;
  color: #fff;
}

.carousel .banner__info__bg h5 {
  font-size: 66px;
  line-height: 76px;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
}

.carousel .banner__info__bg h5 span {
  font-weight: 300;
}

.carousel .banner__info__bg p {
  color: #fff;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 30px;
  opacity: 0.9;
}

.carousel .banner__info__bg ul {
  margin: 24px 0;
}

.carousel .banner__info__bg span.fa {
  color: var(--primary-color);
}

.carousel ul.banner-ul span.fa {
  color: var(--para-color);
}

.carousel .banner__info__bg {
  max-width: 700px;
}

.carousel p.text-label {
  color: #fff;
  font-size: 20px;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.carousel .banner-slider {
  position: relative;
  z-index: 1;
}

.carousel .slider-info a img {
  transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
}

.carousel .carousel__content {
  position: relative;
}

.carousel .banner__view {
  background: url(../img/banner1.jpg) no-repeat center;
  background-size: cover;
  min-height: calc(100vh - 40px);
  position: relative;
  z-index: 0;
  display: grid;
  align-items: center;
  padding: 3em 0;
}

.carousel .banner-top1 {
  background: url(../img/banner2.jpg) no-repeat center;
  background-size: cover;
}

.carousel .banner-top2 {
  background: url(../img/banner3.jpg) no-repeat center;
  background-size: cover;
}

.carousel .banner-top3 {
  background: url(../img/banner4.jpg) no-repeat center;
  background-size: cover;
}

.carousel .banner__view:before {
  content: '';
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: #0c0c0c;
  opacity: 0.6;
}

@media (max-width: 1200px) {
  .carousel .banner__info__bg h5 {
    font-size: 52px;
    line-height: 62px;
  }

  .carousel .banner__info__bg p {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  .carousel .banner__info__bg h5 {
    font-size: 50px;
    line-height: 55px;
  }

  .carousel .owl-nav {
    display: none;
  }
}

@media (max-width: 768px) {
  .carousel .banner__info__bg p {
    font-size: 16px;
  }
  .carousel .banner__view {
    min-height: 580px;
  }
}

@media (max-width: 600px) {
  .carousel .banner__view {
    min-height: 500px;
  }
}

@media (max-width: 480px) {
  .carousel .banner__info__bg h5 {
    font-size: 32px;
    line-height: 42px;
  }
  .carousel .banner__view {
    min-height: 480px;
  }
}
@media (max-width: 440px) {
  .carousel .banner__view {
    min-height: 440px;
  }
}
.owl-nav {
  display: none;
}
.owl-dots {
  bottom: 30px;
}
/* end carousel */

/* start about us  */

/* end about us  */

/* start feature  */

/* end feature  */

/* start service  */

/* end service  */

/* start number  */

/* end number  */

/* start pricing  */
.pricing {
  background: #f8f9fa;
}
.pricing-7-main {
  background: var(--bg-light);
}

.pricing-7-main h3.heading {
  font-size: 40px;
  line-height: 45px;
  text-align: center;
  color: #fff;
  font-weight: 400;
}

.pricing-7-main .pricing-sec-7 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 5% auto;
  margin-top: 0;
  width: 90%;
}

.pricing-7-main ul.links {
  min-height: 120px;
}

.pricing-7-bottom {
  text-align: center;
  padding-top: 1em;
}

.pricing-7-top {
  text-align: center;
}

.pricing-7-main h5 {
  font-size: 15px;
  line-height: 20px;
  color: var(--primary-color);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 700;
  display: inline-block;
  padding: 8px 20px;
  background: #fff;
  border-radius: var(--border-radius);
}

.pricing-7-main .pricing-gd-left.active h6,
.pricing-7-main .pricing-gd-left.active h4 {
  color: #fff;
}

.pricing-7-main .pricing-gd-left.active h4 span {
  color: #eee;
}

.pricing-7-main h6 {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
}

.pricing-gd-left.pric-7.active .btn-style {
  color: #fff;
  background: var(--primary-color);
}

.pricing-7-main p.para {
  font-size: 16px;
  line-height: 25px;
  text-align: center;
}

.pricing-gd-left.pric-7.active p.para {
  color: #eee;
}

.pricing-7-main h4 label {
  font-size: 25px;
  vertical-align: text-top;
}

.pricing-7-main h4 {
  font-size: 40px;
  line-height: 45px;
  margin: 15px 0 20px;
  text-align: center;
  font-weight: 600;
  color: var(--primary-color);
}

.pricing-7-main h4 span {
  font-size: 16px;
  line-height: 25px;
  color: #999;
  font-weight: 400;
}

.pricing-7-main p.lists {
  font-size: 18px;
  line-height: 28px;
  font-weight: normal;
  align-self: center;
  padding-top: 6px;
}

.pricing-7-main ul.links li {
  list-style: none;
  margin-bottom: 5px;
  color: #304659;
}

.pricing-7-main .pricing-gd-left {
  background: var(--bg-color);
  border-radius: 6px;
  align-self: center;
}

.pricing-gd-left.pric-7.active .pricing-7-top {
  padding: 3em 2.5em 0.5em;
  background: var(--primary-color);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.pricing-gd-left.pric-7.active .pricing-7-bottom {
  padding: 2em 2.5em 3.5em;
}

.pricing-7-main .pric-7-1 .pricing-7 {
  padding: 3.5em 2.5em;
  border-right: 0;
}

.pricing-7-main .pric-7-2 .pricing-7 {
  padding: 3.5em 2.5em;
  border-left: 0;
}

.pricing-7-main .pricing-gd-left.active {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -o-transform: scale(1.03);
  -ms-transform: scale(1.03);
  z-index: 1;
  margin: 0;
  box-shadow: 0 10px 30px 0 rgba(17, 17, 17, 0.09);
  border-radius: 6px;
}

.pricing-7-main .buy-button {
  margin-top: 2em;
}

.pricing-7-main .copy-right p {
  color: #ccc;
  font-size: 17px;
}

.pricing-7-main .copy-right p a {
  color: #fff;
}

.pricing-7-main .copy-right p a:hover {
  color: var(--primary-color);
}

@media (max-width: 1366px) {
  .pricing-7-main .pricing-sec-7 {
    width: 90%;
  }
}

@media (max-width: 800px) {
  .pricing-7-main .pricing-sec-7 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    margin: 50px auto 0;
  }

  .pricing-7-main .pric-7-1 {
    border: 1px solid var(--border-light);
  }

  .pricing-7-main .pric-7-2 {
    border: 1px solid var(--border-light);
  }

  .pricing-7-main .pricing-sec-7 {
    width: 60%;
  }

  .pricing-7-main .pricing-gd-left.active {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
  }
}

@media (max-width: 768px) {
  .pricing-7-main .pricing-sec-7 {
    width: 75%;
  }

  .pricing-7-main h3.heading {
    font-size: 35px;
    line-height: 40px;
  }
}

@media (max-width: 600px) {
  .pricing-7-main p.pric-foot {
    margin-top: 25px;
  }
}

@media (max-width: 568px) {
  .pricing-7-main .pricing-7-sec h2 {
    margin-bottom: 1.3em;
  }

  .pricing-7-main .pricing-sec-7 {
    grid-gap: 20px;
    margin: 30px auto;
  }
}

@media (max-width: 480px) {
  .pricing-7-main .pricing-sec-7 {
    width: 80%;
  }
}

@media (max-width: 415px) {
  .pricing-7-main .pricing-sec-7 {
    width: 100%;
  }

  .pricing-7-main .copy-right p {
    font-size: 16px;
  }

  .pricing-7-main h3.heading {
    font-size: 30px;
    line-height: 35px;
  }
}

@media (max-width: 375px) {
  .pricing-7-main h3.heading {
    font-size: 28px;
    line-height: 33px;
  }
}
/* end pricing  */

/* start fresh food  */
.fresh__food {
  background: #fff;
}
.food__title {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1px;
}
.new-block {
  display: grid;
  align-items: center;
  padding: 2rem 0;
}
.position-banner {
  position: relative !important;
}
.play-view {
  left: 0;
  right: 0;
  top: calc(50% - 40px);
}
.position-absolute {
  position: absolute !important;
}
#small-dialog {
  max-width: 750px;
  margin: 40px auto;
  position: relative;
}
.mfp-hide {
  display: none !important;
}
div#small-dialog iframe {
  width: 100%;
  height: 400px;
  display: block;
}
iframe {
  border: none;
  display: block;
}

.fresh__food {
  background: var(--bg-color);
}

.fresh__food .new-block {
  display: grid;
  align-items: center;
  padding: 2rem 0;
}

.fresh__food .middle-section {
  max-width: 950px;
  margin: 0 auto;
}

.fresh__food .middle-section h2 {
  font-size: 45px;
  line-height: 55px;
  font-weight: 500;
}

.fresh__food span.video-play-icon {
  background: #fff;
  display: inline-block;
  width: 55px;
  height: 55px;
  line-height: 55px;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  -webkit-animation: ripple 1s linear infinite;
  animation: ripple 1s linear infinite;
}

.fresh__food span.video-play-icon span {
  color: var(--primary-color);
}

.fresh__food span.video-play-icon:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.fresh__food span.fa.fa-play {
  line-height: 55px;
}

.fresh__food .play-view {
  left: 0;
  right: 0;
  top: calc(50% - 40px);
}

@media (max-width: 800px) {
  .fresh__food .middle-section h2 {
    font-size: 40px;
    line-height: 50px;
  }
}

@media (max-width: 667px) {
  .fresh__food .middle-section h2 {
    font-size: 32px !important;
    line-height: 42px;
  }
  .fresh__food .play-view {
    left: 0;
    right: 0;
    top: calc(50% - 28px);
  }
}
/* end fresh food  */

/* Nguyễn Thành Việt  */

/* Start service  */
.services__text {
  align-self: center;
}

.services__imgage img {
  border-radius: 10px;
}

.services__title1 {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1px;
  color: #f53626;
}

.services__title2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
}

.services__text p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24.5px;
  color: #696969;
  margin: 15px 0 35px 0;
}

.services ul.cont-4 li {
  display: block;
}

.services ul.cont-4 li span.fa {
  color: #189a46;
  margin-right: 12px;
  background: #f8f9fa;
  font-size: 10px;
  padding: 8px;
  border-radius: 50%;
  display: inline-block;
}

.services__text ul li {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: var(--font-color);

  margin: 15px 0;
  font-weight: 600;
}

@media all and (max-width: 991px) {
  .services__image img {
    width: 100%;
  }
}

@media all and (max-width: 600px) {
  .services__text h3 {
    font-size: 30px;
    line-height: 35px;
  }
}

@media all and (max-width: 387px) {
  .services__text h3 {
    font-size: 26px;
    line-height: 32px;
  }
}

/* End service  */

/* Start Number  */
.number {
  background-color: #189a46;
  text-align: center;
}

p.counter {
  font-size: 50px;
  line-height: 60px;
  font-weight: 600;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 0;
}

.number h4 {
  font-size: 20px;
  line-height: 25px;
  text-transform: capitalize;
  color: #fff;
  margin-top: 10px;
  opacity: 0.8;
  font-weight: 400;
}

@media (max-width: 992px) {
  .stats_info p {
    font-size: 40px !important;
    line-height: 50px;
  }

  .stats_info h4 {
    font-size: 18px !important;
  }
}

@media (max-width: 737px) {
  .number__info {
    padding: 0 5px !important;
  }

  .number__info p {
    font-size: 35px !important;
    line-height: 38px;
    margin-top: 20px;
  }

  .number__info h4 {
    font-size: 17px !important;
  }
}

@media (max-width: 415px) {
  .number__info span.fa {
    font-size: 2em !important;
  }
}

/* End Number  */

/* Start Footer */
footer {
  background: #111;
}

footer h6.footer__title {
  color: #fff;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  margin-bottom: 25px;
}

footer .footer__list ul li,
footer .midd:nth-child(1) .footer__list ul li:last-child {
  list-style: none;
  margin-bottom: 5px;
}

footer .footer__list ul li:last-child {
  margin-bottom: 0px;
}

footer .footer__list ul li a,
footer .footer__list ul li p {
  font-weight: normal;
  font-size: 16px;
  color: #696969;
  line-height: 28px;
}

footer .footer__list ul li a:hover {
  text-decoration: underline;
  color: #fff;
}

footer .footer__social a {
  margin-right: 25px;
}

footer .footer__social a:last-child {
  margin-right: 0;
}

footer .footer__copy {
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #696969;
  margin-bottom: 0;
}

footer .footer__copy a:hover {
  text-decoration: underline;
  opacity: 0.8;
}

footer ul.social__icons {
  margin-top: 3px;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

footer ul.social__icons li a {
  display: block;
  text-decoration: none;
}

footer ul.social__icons li {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 0;
}

footer ul.social__icons li a span {
  font-size: 16px;
  color: #696969;
}

footer ul.social__icons li span:hover {
  color: #fff;
  transition: 0.3s ease-in;
}

footer #movetop {
  display: none;
  position: fixed;
  bottom: 90px;
  right: 15px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  width: 48px;
  height: 48px;
  background: #189a46;
  padding: 0;
  line-height: 36px;
  border-radius: 50px;
  transition: 0.3s ease-out;
}

footer #movetop:hover {
  transform: translate3d(0, -5px, 0);
  -webkit-transform: translate3d(0, -5px, 0);
  transition: 0.3s ease-out;
}

footer .footer__midd {
  background: #111;
  border-top: 1px solid rgba(103, 99, 99, 0.1);
}

@media (max-width: 736px) {
  footer .grid-col-4 {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  footer .footer__top {
    grid-gap: 20px;
  }
}

@media (max-width: 550px) {
  footer ul.social__icons li {
    margin: 0 5px;
  }
}

@media (max-width: 480px) {
  footer .footer__top {
    grid-gap: 40px;
    grid-template-columns: 1fr 1fr;
  }

  footer ul.list-btm-28 li:nth-child(2) {
    margin: 0 18px;
  }

  footer ul.social__icons {
    margin-top: 0;
    margin-bottom: 10px;
  }
}

/* End Footer */

/* Nguyễn Thành Việt  */
